# Problem Statement:

To detect the passengers who will survive and who will die in the titanic by using titanic passenger dataset.

# Data Set Description:

In this dataset the information consists of the list of passenger ID, Name, Sex, and so on. From this we divide into two parts for training (train.csv) the dataset and testing(test.csv) the dataset.

In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

we first import numpy, pandas, OS and then to show where we take the input data and gets stored such that we can load the data and prints the 5 rows of the data but in csv file it shows all the data.

In [4]:
train_data = pd.read_csv("./train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Training Dataset:

What is training?
Training data is known as the prediction models which utilises the machine learning algorithms to know how to generate the features. For this training data we get the ground truth for each of the passenger. So, for this model we had the features such as passengers, class and genders.

* The training dataset consists of the details of the 891 passengers. The passengers get randomly different rows in the dataset file(.csv).

* From the output we can determine each passenger whether they are survived or not by,

* If it is 0 the passenger not survived.
* If it is 1 the passenger survived.

It reads the training dataset and loads the data from the training dataset into the jupyter notebook and prints the 5 rows of the data but in csv file it shows all the data.

In [5]:
test_data = pd.read_csv("./test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

What is testing?
Testing is known as to see our performance of the model performs on the data. In this test data for every passenger in the testing dataset we used the model which is trained to predict that they are survived or not in the sinking of the titanic.

* In this testing dataset we need to predict the 418 passengers are survived or not.

* So, when the testing completed, a column will be added with 1 or 0 near the passenger row which states that the passenger survived or not.

It reads the test dataset and loads the data from the testing dataset into the jupyter notebook and prints the 5 rows of the data but in csv file it shows all the data (891 rows of the training dataset and all 418 rows of testing dataset).

In [6]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women survived:", rate_women)

% of women survived: 0.7420382165605095

For example Assume all the female passengers got survived and all the men are not survived. So that it will check the patterns in the dataset. From the training dataset it takes all the female passengers but not the men passengers. So from the data we will calculate the percentage of women survived by using the formula percentage is equal to the sum of all the women divided by the length of the women and prints the percentage in the notebook file.

In [7]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men survived:", rate_men)

% of men survived: 0.18890814558058924

For example Assume all the male passengers got survived and all the women are not survived. So that it will check the patterns in the dataset. From the training dataset it takes all the male passengers but not the female passengers. So from the data we will calculate the percentage of men survived by using the formula percentage is equal to the sum of all the men divided by the length of the men and prints the percentage in the notebook file.
So by comparing percentages of men and women we see 75% of female passengers got survived on board and only 19% of men survived onboard. So from the dataset gender is the strong indicator of survival of women.
So in above case we only just considered one column “Gender”. But when we consider several columns at once it takes more time to build the complex patterns for many columns. So to make it simple we have some Machine Learning Algorithms such as KNN, SVM, Random Forest Model, Multi-Layer Perceptron and so on. So I considered Random Forest Model. This Random Forest model several trees which mentions all the passenger details and gives the output whether they survived or not.

In [8]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

We imported Random Forest classifier from sklearn and train the data and add the features such as PClass, Sex, Parch, SibSp of the data such that it generates the trees in the model which are based on the training data file and tests the data in the testing dataset and prints all the predicted values as the output. So that Output file is generated.